table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: green;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: red;
}
th {
    background-color: green;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
button:hover {
    background-color: red;
}
#logo_img_id {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    top: 50%;
    z-index: -9999;
}